/* PáginaContato-Email - versão que será entregue */

position: relative;
width: 511px;
height: 1037px;

background: #FFFFFF;


/* Menu 1

3 segment Next navigation bar with icon &amp; label 
*/

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

position: absolute;
width: 511px;
height: 80px;
left: 0px;
top: 957px;

/* Roxo Claro

Para fundo com texto roxo escuro, ou para texto em fundo roxo
*/
background: #D0BCFF;
border-radius: 8px 8px 0px 0px;


/* Segment 1

Navigation Bar segment building blocks

*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px 0px 16px;
gap: 4px;

width: 117.75px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* icon-container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 32px;
height: 32px;

border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 20px;
gap: 10px;

width: 64px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 12.5%;
bottom: 12.5%;

/* on-primary-fixed-variant */
background: #4F378B;


/* label-text */

width: 117.75px;
height: 16px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;
letter-spacing: 0.5px;

/* on-primary-fixed-variant */
color: #4F378B;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Segment 3

Navigation Bar segment building blocks

*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px 0px 16px;
gap: 4px;

width: 117.75px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* icon-container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 64px;
height: 32px;

/* M3/sys/light/secondary-container */
background: #E8DEF8;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 20px;

width: 64px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 12.5%;

/* on-primary-fixed-variant */
background: #4F378B;


/* label-text */

width: 117.75px;
height: 16px;

/* M3/label/medium - prominent */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;
letter-spacing: 0.5px;

/* M3/sys/light/on-surface */
color: #1D1B20;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Segment 4

Navigation Bar segment building blocks

*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px 0px 16px;
gap: 4px;

width: 117.75px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* icon-container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 32px;
height: 32px;

border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 20px;
gap: 10px;

width: 64px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 4.17%;
top: 12.5%;
bottom: 4.17%;

/* on-primary-fixed-variant */
background: #4F378B;


/* label-text */

width: 117.75px;
height: 16px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;
letter-spacing: 0.5px;

/* on-primary-fixed-variant */
color: #4F378B;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Segment 5

Navigation Bar segment building blocks

*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px 0px 16px;
gap: 4px;

width: 117.75px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* icon-container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 32px;
height: 32px;

border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 20px;
gap: 10px;

width: 64px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 4.17%;
bottom: 4.17%;

/* on-primary-fixed-variant */
background: #4F378B;


/* label-text */

width: 117.75px;
height: 16px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;
letter-spacing: 0.5px;

/* on-primary-fixed-variant */
color: #4F378B;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

position: absolute;
width: 457px;
height: 241px;
left: 25px;
top: 619px;

border-radius: 4px 4px 0px 0px;


/* supporting-text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 16px 0px 1px;
gap: 10px;

width: 457px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* supporting-text */

width: 440px;
height: 16px;

/* M3/body/small

0.4
*/
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

/* on-primary-fixed-variant */
color: #4F378B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Active indicator */

width: 457px;
height: 0px;

/* M3/sys/light/on-surface-variant */
border: 1px solid #49454F;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* text field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 457px;
height: 213px;

/* Roxo Claro

Para fundo com texto roxo escuro, ou para texto em fundo roxo
*/
background: #D0BCFF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 0px 4px 16px;

width: 457px;
height: 48px;

border-radius: 4px 4px 0px 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* content */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 441px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* label-text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

display: none;
width: 30px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* label-text */

width: 30px;
height: 16px;

/* M3/body/small

0.4
*/
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

/* M3/sys/light/on-surface-variant */
color: #49454F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* input-text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 321px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* input-text */

width: 321px;
height: 24px;

/* M3/body/large */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.5px;

color: #9E98A7;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* trailing-icon

Icon buttons display actions in a compact layout. Icon buttons can represent opening actions such as opening an overflow menu or search, or represent binary actions that can be toggled on and off, such as favorite or bookmark.

Icon buttons can be grouped together or they can stand alone.

Standard Icon buttons are low-emphasis buttons.
They are used for the lowest priority actions, especially when presenting multiple options.

Icon buttons can be placed on a variety of backgrounds. Until the button is interacted with, its container isn’t visible.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 48px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Active indicator */

position: absolute;
width: 453px;
height: 0px;
left: 25px;
top: 319px;

/* M3/sys/light/on-surface-variant */
border: 1px solid #49454F;


/* CAMPO NOME */

position: absolute;
width: 422px;
height: 66px;
left: 25px;
top: 468px;



/* Descreva brevemente o motivo do contato */

position: absolute;
width: 378px;
height: 19px;
left: 56px;
top: 503px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

/* on-primary-fixed-variant */
color: #4F378B;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Assunto */

position: absolute;
width: 369.9px;
height: 19px;
left: 25px;
top: 468px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

/* on-primary-fixed-variant */
color: #4F378B;



/* Rectangle 1 */

position: absolute;
width: 422px;
height: 38px;
left: 25px;
top: 496px;

/* on-primary-fixed-variant */
border: 1px solid #4F378B;
border-radius: 6px;


/* CAMPO NOME */

position: absolute;
width: 422px;
height: 66px;
left: 23px;
top: 397px;



/* Insira seu endereço de e-mail */

position: absolute;
width: 378px;
height: 19px;
left: 54px;
top: 432px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

/* on-primary-fixed-variant */
color: #4F378B;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Seu E-mail */

position: absolute;
width: 369.9px;
height: 19px;
left: 23px;
top: 397px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

/* on-primary-fixed-variant */
color: #4F378B;



/* Rectangle 1 */

position: absolute;
width: 422px;
height: 38px;
left: 23px;
top: 425px;

/* on-primary-fixed-variant */
border: 1px solid #4F378B;
border-radius: 6px;


/* CAMPO NOME */

position: absolute;
width: 422px;
height: 66px;
left: 23px;
top: 326px;



/* Insira seu nome completo */

position: absolute;
width: 378px;
height: 19px;
left: 54px;
top: 361px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

/* on-primary-fixed-variant */
color: #4F378B;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Seu Nome */

position: absolute;
width: 369.9px;
height: 19px;
left: 23px;
top: 326px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

/* on-primary-fixed-variant */
color: #4F378B;



/* Rectangle 1 */

position: absolute;
width: 422px;
height: 38px;
left: 23px;
top: 354px;

/* on-primary-fixed-variant */
border: 1px solid #4F378B;
border-radius: 6px;


/* CAMPO NOME */

position: absolute;
width: 424px;
height: 64px;
left: 23px;
top: 539px;



/* Telefone */

position: absolute;
width: 268.88px;
height: 19px;
left: 23px;
top: 539px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

/* on-primary-fixed-variant */
color: #4F378B;



/* (DDD) 00000-0000 */

position: absolute;
width: 320.59px;
height: 19px;
left: 54.02px;
top: 574px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

/* on-primary-fixed-variant */
color: #4F378B;



/* Rectangle 1 */

position: absolute;
width: 424px;
height: 38.21px;
left: 23px;
top: 564.79px;

/* on-primary-fixed-variant */
border: 1px solid #4F378B;
border-radius: 6px;


/* Button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Filled buttons are high-emphasis buttons.
They have the most visual impact after the FAB, and should be used for important, final actions that complete a flow, like &quot;Save&quot;, &quot;Join now&quot;, or &quot;Confirm&quot;.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
padding: 0px;
gap: 8px;

position: absolute;
width: 155px;
height: 47px;
right: 33px;
top: 884px;

/* M3/sys/light/primary */
background: #6750A4;
border-radius: 100px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 10px 24px;
gap: 8px;

width: 155px;
height: 47px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 107px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

/* M3/sys/light/on-primary */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Filled buttons are high-emphasis buttons.
They have the most visual impact after the FAB, and should be used for important, final actions that complete a flow, like &quot;Save&quot;, &quot;Join now&quot;, or &quot;Confirm&quot;.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
padding: 0px;
gap: 8px;

position: absolute;
width: 155px;
height: 47px;
right: 333px;
top: 884px;

background: #D0BCFF;
border-radius: 100px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 10px 24px;
gap: 8px;

width: 155px;
height: 47px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 107px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

color: #21005D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Menu 2 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 511px;
height: 79px;
left: 0px;
top: 0px;



/* Navigation bar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 511px;
height: 79px;

/* Roxo Claro

Para fundo com texto roxo escuro, ou para texto em fundo roxo
*/
background: #D0BCFF;
border-radius: 0px 0px 8px 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Segment 1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 0px 1px;

width: 243.5px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* icon-container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 252px;
height: 63px;

border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 0px;

width: 252px;
height: 63px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* logo_she_hacks-removebg-preview 1 */

width: 203px;
height: 63px;

background: url(logo_she_hacks-removebg-preview.png);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Segment 2 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 12px 0px 16px;
gap: 4px;

width: 243.5px;
height: 84px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* icon-container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 32px;
height: 32px;

border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 20px;
gap: 10px;

width: 64px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 59px;
height: 59px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icons/account_circle_filled_24px

human, person, people, face, profile, user, account, thumbnail, circle
*/

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* on-primary-fixed-variant */
background: #4F378B;


/* Group 22 */

position: absolute;
width: 411px;
height: 146px;
left: 37px;
top: 126px;



/* Primary button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Outlined buttons are medium-emphasis buttons.
They contain actions that are important, but aren’t the primary action in an app.

Outlined buttons pair well with filled buttons to indicate an alternative, secondary action.
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 6.92px;

position: absolute;
width: 134px;
height: 25px;
left: calc(50% - 134px/2 + 17.5px);
top: 208px;

background: #D9D9D9;
/* M3/sys/light/outline */
border: 0.865385px solid #79747E;
border-radius: 86.5385px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8.65385px 20.7692px;
gap: 6.92px;

width: 134px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 30px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;
/* identical to box height, or 115% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0865385px;

/* M3/sys/light/primary */
color: #6750A4;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 19 */

position: absolute;
width: 242px;
height: 50px;
left: 206px;
top: 153px;



/* Juliana Amaral dos Santos */

position: absolute;
width: 242px;
height: 27px;
left: 206px;
top: 153px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
text-align: center;

color: #000000;



/* OAB: MS/3212489 */

position: absolute;
width: 127px;
height: 20px;
left: 206px;
top: 183px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
text-align: center;

color: #000000;



/* Intersect */

position: absolute;
width: 146px;
height: 146px;
left: 37px;
top: 126px;

background: url(image.png);


/* Ellipse 2 */

position: absolute;
width: 146px;
height: 146px;
left: 37px;
top: 126px;

background: #D9D9D9;


/* image 2 */

position: absolute;
width: 280.36px;
height: 157.2px;
left: -49.88px;
top: 114.8px;

background: url(image.png);