/* Consultoria-Lista - versão que será entregue */

position: relative;
width: 511px;
height: 1037px;

background: #F7F2FA;


/* Menu 4 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 511px;
height: 79px;
left: 0px;
top: 0px;



/* Navigation bar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 511px;
height: 79px;

/* Roxo Claro

Para fundo com texto roxo escuro, ou para texto em fundo roxo
*/
background: #D0BCFF;
border-radius: 0px 0px 8px 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Segment 1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 0px 1px;

width: 243.5px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* icon-container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 252px;
height: 63px;

border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 0px;

width: 252px;
height: 63px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* logo_she_hacks-removebg-preview 1 */

width: 203px;
height: 63px;

background: url(logo_she_hacks-removebg-preview.png);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Segment 2 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 12px 0px 16px;
gap: 4px;

width: 243.5px;
height: 84px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* icon-container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 32px;
height: 32px;

border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 20px;
gap: 10px;

width: 64px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 59px;
height: 59px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icons/account_circle_filled_24px

human, person, people, face, profile, user, account, thumbnail, circle
*/

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* on-primary-fixed-variant */
background: #4F378B;


/* Group 15 */

position: absolute;
width: 406px;
height: 53px;
left: calc(50% - 406px/2 - 3.5px);
top: 110px;



/* Group 1 */

position: absolute;
width: 406px;
height: 53px;
left: 49px;
top: 110px;



/* Basic dialog

A Dialog is a modal window that appears in front of app content to provide critical information or ask for a decision. They disable all app functionality when they appear, and remain on screen until a required action has been taken.

Being purposefully interruptive they should be used sparingly. To provide options without interrupting a user’s experience use a Menu.

Simple dialog with hero icon, text, and up to two actions  
*/

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

position: absolute;
width: 406px;
min-width: 280px;
max-width: 560px;
height: 53px;
left: 49px;
top: 110px;

background: #D0BCFF;
border-radius: 15px;


/* Text Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

display: none;
width: 312px;
height: 152px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* divider */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 0px 0px;
gap: 10px;

display: none;
width: 312px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Actions */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

display: none;
width: 312px;
height: 88px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Encontre seu advogado */

position: absolute;
width: 329px;
height: 28px;
left: 88px;
top: 122px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 28px;
/* identical to box height, or 93% */
text-align: center;

color: #4F378B;



/* Filtros */

position: absolute;
width: 86px;
height: 28px;
left: 209px;
top: 184px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 28px;
/* identical to box height, or 93% */
text-align: center;
text-decoration-line: underline;

color: #4F378B;



/* Group 16 */

position: absolute;
width: 463px;
height: 230px;
left: 24px;
top: 242px;



/* Primary button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Filled buttons are high-emphasis buttons.
They have the most visual impact after the FAB, and should be used for important, final actions that complete a flow, like &quot;Save&quot;, &quot;Join now&quot;, or &quot;Confirm&quot;.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 231px;
height: 50px;
left: calc(50% - 231px/2 + 80px);
top: 407px;

/* M3/sys/light/primary */
background: #6750A4;
border-radius: 100px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 8px;

width: 231px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 186px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 20px;
/* identical to box height, or 83% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

/* M3/sys/light/on-primary */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Primary button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Outlined buttons are medium-emphasis buttons.
They contain actions that are important, but aren’t the primary action in an app.

Outlined buttons pair well with filled buttons to indicate an alternative, secondary action.
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 6.92px;

position: absolute;
width: 134px;
height: 25px;
left: calc(50% - 134px/2 - 137.5px);
top: 419px;

background: #D9D9D9;
/* M3/sys/light/outline */
border: 0.865385px solid #79747E;
border-radius: 86.5385px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8.65385px 20.7692px;
gap: 6.92px;

width: 134px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 30px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;
/* identical to box height, or 115% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0865385px;

/* M3/sys/light/primary */
color: #6750A4;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Primary button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Outlined buttons are medium-emphasis buttons.
They contain actions that are important, but aren’t the primary action in an app.

Outlined buttons pair well with filled buttons to indicate an alternative, secondary action.
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 6.92px;

position: absolute;
width: 92px;
height: 33px;
left: calc(50% - 92px/2 + 137.5px);
top: 316px;

/* M3/sys/light/outline */
border: 0.865385px solid #79747E;
border-radius: 86.5385px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8.65385px 20.7692px;
gap: 6.92px;

width: 92px;
height: 33px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 73px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;
/* identical to box height, or 115% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0865385px;

/* M3/sys/light/primary */
color: #6750A4;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Primary button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Outlined buttons are medium-emphasis buttons.
They contain actions that are important, but aren’t the primary action in an app.

Outlined buttons pair well with filled buttons to indicate an alternative, secondary action.
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 6.92px;

position: absolute;
width: 118px;
height: 32px;
left: calc(50% - 118px/2 + 25.5px);
top: 362px;

/* M3/sys/light/outline */
border: 0.865385px solid #79747E;
border-radius: 86.5385px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8.65385px 20.7692px;
gap: 6.92px;

width: 118px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 83px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;
/* identical to box height, or 115% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0865385px;

/* M3/sys/light/primary */
color: #6750A4;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Primary button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Outlined buttons are medium-emphasis buttons.
They contain actions that are important, but aren’t the primary action in an app.

Outlined buttons pair well with filled buttons to indicate an alternative, secondary action.
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 6.92px;

position: absolute;
width: 117px;
height: 33px;
left: calc(50% - 117px/2 + 23px);
top: 316px;

/* M3/sys/light/outline */
border: 0.865385px solid #79747E;
border-radius: 86.5385px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8.65385px 20.7692px;
gap: 6.92px;

width: 117px;
height: 33px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 86px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;
/* identical to box height, or 115% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0865385px;

/* M3/sys/light/primary */
color: #6750A4;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Juliana Amaral dos Santos */

position: absolute;
width: 218px;
height: 25px;
left: 227px;
top: 266px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */
text-align: center;

color: #000000;



/* OAB: MS/3212489 */

position: absolute;
width: 115px;
height: 19px;
left: 225px;
top: 291px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 13.6184px;
line-height: 19px;
/* identical to box height */
text-align: center;

color: #000000;



/* Intersect */

position: absolute;
width: 146px;
height: 146px;
left: 45px;
top: 266px;

background: url(image.png);


/* Ellipse 2 */

position: absolute;
width: 146px;
height: 146px;
left: 45px;
top: 266px;

background: #D9D9D9;


/* image 2 */

position: absolute;
width: 280.36px;
height: 157.2px;
left: -41.88px;
top: 254.8px;

background: url(image.png);


/* Rectangle 2 */

box-sizing: border-box;

position: absolute;
width: 463px;
height: 230px;
left: calc(50% - 463px/2);
top: 242px;

border: 1px solid #000000;
border-radius: 40px;


/* Primary button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Filled buttons are high-emphasis buttons.
They have the most visual impact after the FAB, and should be used for important, final actions that complete a flow, like &quot;Save&quot;, &quot;Join now&quot;, or &quot;Confirm&quot;.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 231px;
height: 50px;
left: calc(50% - 231px/2 + 80px);
top: 644px;

/* M3/sys/light/primary */
background: #6750A4;
border-radius: 100px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 8px;

width: 231px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 186px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 20px;
/* identical to box height, or 83% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

/* M3/sys/light/on-primary */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Primary button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Outlined buttons are medium-emphasis buttons.
They contain actions that are important, but aren’t the primary action in an app.

Outlined buttons pair well with filled buttons to indicate an alternative, secondary action.
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 6.92px;

position: absolute;
width: 134px;
height: 25px;
left: calc(50% - 134px/2 - 137.5px);
top: 656px;

background: #D9D9D9;
/* M3/sys/light/outline */
border: 0.865385px solid #79747E;
border-radius: 86.5385px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8.65385px 20.7692px;
gap: 6.92px;

width: 134px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 76px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;
/* identical to box height, or 115% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0865385px;

/* M3/sys/light/primary */
color: #6750A4;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Primary button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Outlined buttons are medium-emphasis buttons.
They contain actions that are important, but aren’t the primary action in an app.

Outlined buttons pair well with filled buttons to indicate an alternative, secondary action.
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 6.92px;

position: absolute;
width: 168px;
height: 32px;
left: calc(50% - 168px/2 + 47.5px);
top: 595px;

/* M3/sys/light/outline */
border: 0.865385px solid #79747E;
border-radius: 86.5385px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8.65385px 20.7692px;
gap: 6.92px;

width: 168px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 145px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;
/* identical to box height, or 115% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0865385px;

/* M3/sys/light/primary */
color: #6750A4;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Primary button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Outlined buttons are medium-emphasis buttons.
They contain actions that are important, but aren’t the primary action in an app.

Outlined buttons pair well with filled buttons to indicate an alternative, secondary action.
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 6.92px;

position: absolute;
width: 168px;
height: 32px;
left: calc(50% - 168px/2 + 48.5px);
top: 553px;

/* M3/sys/light/outline */
border: 0.865385px solid #79747E;
border-radius: 86.5385px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8.65385px 20.7692px;
gap: 6.92px;

width: 168px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 143px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;
/* identical to box height, or 115% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0865385px;

/* M3/sys/light/primary */
color: #6750A4;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* José Arnaldo */

position: absolute;
width: 106px;
height: 25px;
left: 225px;
top: 503px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */
text-align: center;

color: #000000;



/* OAB: SP/0000000 */

position: absolute;
width: 111px;
height: 19px;
left: 224px;
top: 528px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 13.6184px;
line-height: 19px;
/* identical to box height */
text-align: center;

color: #000000;



/* Intersect */

position: absolute;
width: 146px;
height: 146px;
left: 45px;
top: 503px;

background: url(avatar-gen1147faa1ff5d5bd3d6959e1ccb76d56f.jpg);


/* Ellipse 2 */

position: absolute;
width: 146px;
height: 146px;
left: 45px;
top: 503px;

background: #D9D9D9;


/* image 2 */

position: absolute;
width: 280.36px;
height: 157.2px;
left: -41.88px;
top: 491.8px;

background: url(image.png);


/* Rectangle 3 */

box-sizing: border-box;

position: absolute;
width: 463px;
height: 230px;
left: calc(50% - 463px/2);
top: 481px;

border: 1px solid #000000;
border-radius: 40px;


/* Primary button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Filled buttons are high-emphasis buttons.
They have the most visual impact after the FAB, and should be used for important, final actions that complete a flow, like &quot;Save&quot;, &quot;Join now&quot;, or &quot;Confirm&quot;.
*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 231px;
height: 50px;
left: calc(50% - 231px/2 + 80px);
top: 885px;

/* M3/sys/light/primary */
background: #6750A4;
border-radius: 100px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 8px;

width: 231px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 186px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 20px;
/* identical to box height, or 83% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;

/* M3/sys/light/on-primary */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Primary button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Outlined buttons are medium-emphasis buttons.
They contain actions that are important, but aren’t the primary action in an app.

Outlined buttons pair well with filled buttons to indicate an alternative, secondary action.
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 6.92px;

position: absolute;
width: 134px;
height: 25px;
left: calc(50% - 134px/2 - 137.5px);
top: 897px;

background: #D9D9D9;
/* M3/sys/light/outline */
border: 0.865385px solid #79747E;
border-radius: 86.5385px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8.65385px 20.7692px;
gap: 6.92px;

width: 134px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 42px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;
/* identical to box height, or 115% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0865385px;

/* M3/sys/light/primary */
color: #6750A4;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Primary button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Outlined buttons are medium-emphasis buttons.
They contain actions that are important, but aren’t the primary action in an app.

Outlined buttons pair well with filled buttons to indicate an alternative, secondary action.
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 6.92px;

position: absolute;
width: 117px;
height: 32px;
left: calc(50% - 117px/2 + 16px);
top: 840px;

/* M3/sys/light/outline */
border: 0.865385px solid #79747E;
border-radius: 86.5385px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8.65385px 20.7692px;
gap: 6.92px;

width: 117px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 91px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;
/* identical to box height, or 115% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0865385px;

/* M3/sys/light/primary */
color: #6750A4;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Primary button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Outlined buttons are medium-emphasis buttons.
They contain actions that are important, but aren’t the primary action in an app.

Outlined buttons pair well with filled buttons to indicate an alternative, secondary action.
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 6.92px;

position: absolute;
width: 68px;
height: 32px;
left: calc(50% - 68px/2 + 142.5px);
top: 794px;

/* M3/sys/light/outline */
border: 0.865385px solid #79747E;
border-radius: 86.5385px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8.65385px 20.7692px;
gap: 6.92px;

width: 68px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 27px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;
/* identical to box height, or 115% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0865385px;

/* M3/sys/light/primary */
color: #6750A4;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Primary button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Outlined buttons are medium-emphasis buttons.
They contain actions that are important, but aren’t the primary action in an app.

Outlined buttons pair well with filled buttons to indicate an alternative, secondary action.
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 6.92px;

position: absolute;
width: 68px;
height: 32px;
left: calc(50% - 68px/2 + 188.5px);
top: 840px;

/* M3/sys/light/outline */
border: 0.865385px solid #79747E;
border-radius: 86.5385px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8.65385px 20.7692px;
gap: 6.92px;

width: 68px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 32px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;
/* identical to box height, or 115% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0865385px;

/* M3/sys/light/primary */
color: #6750A4;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Primary button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Outlined buttons are medium-emphasis buttons.
They contain actions that are important, but aren’t the primary action in an app.

Outlined buttons pair well with filled buttons to indicate an alternative, secondary action.
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 6.92px;

position: absolute;
width: 68px;
height: 32px;
left: calc(50% - 68px/2 + 115.5px);
top: 840px;

/* M3/sys/light/outline */
border: 0.865385px solid #79747E;
border-radius: 86.5385px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8.65385px 20.7692px;
gap: 6.92px;

width: 68px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 48px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;
/* identical to box height, or 115% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0865385px;

/* M3/sys/light/primary */
color: #6750A4;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Primary button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Outlined buttons are medium-emphasis buttons.
They contain actions that are important, but aren’t the primary action in an app.

Outlined buttons pair well with filled buttons to indicate an alternative, secondary action.
*/

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 6.92px;

position: absolute;
width: 136px;
height: 32px;
left: calc(50% - 136px/2 + 32.5px);
top: 794px;

/* M3/sys/light/outline */
border: 0.865385px solid #79747E;
border-radius: 86.5385px;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8.65385px 20.7692px;
gap: 6.92px;

width: 136px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* label-text */

width: 123px;
height: 18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;
/* identical to box height, or 115% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.0865385px;

/* M3/sys/light/primary */
color: #6750A4;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Dr. Pedro Tolvo */

position: absolute;
width: 130px;
height: 25px;
left: 225px;
top: 744px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */
text-align: center;

color: #000000;



/* OAB: SP/10492012 */

position: absolute;
width: 119px;
height: 19px;
left: 223px;
top: 769px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 13.6184px;
line-height: 19px;
/* identical to box height */
text-align: center;

color: #000000;



/* Intersect */

position: absolute;
width: 146px;
height: 146px;
left: 45px;
top: 739px;

background: url(pedro);


/* Ellipse 2 */

position: absolute;
width: 146px;
height: 146px;
left: 45px;
top: 739px;

background: #D9D9D9;


/* image 2 */

position: absolute;
width: 280.36px;
height: 157.2px;
left: -41.88px;
top: 727.8px;

background: url(pedro);


/* Rectangle 4 */

box-sizing: border-box;

position: absolute;
width: 463px;
height: 230px;
left: calc(50% - 463px/2 - 4px);
top: 722px;

border: 1px solid #000000;
border-radius: 40px;


/* Rectangle 5 */

position: absolute;
width: 10px;
height: 692px;
left: 493px;
top: 245px;

background: #D9D9D9;


/* Frame 3 */

position: absolute;
width: 9px;
height: 123px;
left: 494px;
top: 246px;

background: #6750A4;


/* Menu 5

3 segment Next navigation bar with icon &amp; label 
*/

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

position: absolute;
width: 511px;
height: 80px;
left: 0px;
top: 957px;

/* Roxo Claro

Para fundo com texto roxo escuro, ou para texto em fundo roxo
*/
background: #D0BCFF;
border-radius: 8px 8px 0px 0px;


/* Segment 1

Navigation Bar segment building blocks

*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px 0px 16px;
gap: 4px;

width: 159.67px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* icon-container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 32px;
height: 32px;

border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 20px;
gap: 10px;

width: 64px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 12.5%;
bottom: 12.5%;

/* on-primary-fixed-variant */
background: #4F378B;


/* label-text */

width: 159.67px;
height: 16px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;
letter-spacing: 0.5px;

/* on-primary-fixed-variant */
color: #4F378B;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Segment 3

Navigation Bar segment building blocks

*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px 0px 16px;
gap: 4px;

width: 159.67px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* icon-container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 64px;
height: 32px;

/* M3/sys/light/secondary-container */
background: #E8DEF8;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 20px;

width: 64px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 12.5%;

/* on-primary-fixed-variant */
background: #4F378B;


/* label-text */

width: 159.67px;
height: 16px;

/* M3/label/medium - prominent */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;
letter-spacing: 0.5px;

/* M3/sys/light/on-surface */
color: #1D1B20;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Segment 4

Navigation Bar segment building blocks

*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px 0px 16px;
gap: 4px;

width: 159.67px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* icon-container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 32px;
height: 32px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 20px;
gap: 10px;

width: 64px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 4.17%;
top: 12.5%;
bottom: 4.17%;

/* on-primary-fixed-variant */
background: #4F378B;


/* label-text */

width: 159.67px;
height: 16px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;
letter-spacing: 0.5px;

/* on-primary-fixed-variant */
color: #4F378B;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Segment 5

Navigation Bar segment building blocks

*/

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px 0px 16px;
gap: 4px;

display: none;
width: 159.67px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;
